@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";
@import "nativewind/theme";

@layer theme {
  @theme {
    /* Fundo e Superfícies */
    --color-background: light-dark(#f7f8fa, #000000);
    --color-surface: light-dark(#ffffff, #1c1c1e);
    --color-border: light-dark(#e5e5ea, #333336);

    /* Textos (Alto contraste para leitura perfeita) */
    --color-text-primary: light-dark(#111111, #ffffff);
    --color-text-secondary: light-dark(#8e8e93, #a1a1aa);
    --color-text-muted: light-dark(#c7c7cc, #636366);

    /* Cores Premium para Botões (Contraste Invertido) */
    --color-button-primary: light-dark(#111111, #ffffff);
    --color-button-text: light-dark(#ffffff, #111111);

    /* A Cor da Marca: Ametista/Violeta elegante (Apenas para focos e detalhes) */
    --color-accent: light-dark(#7c3aed, #9d4edd);
    --color-error: #ef4444;

    /* Vidro para iOS */
    --color-surface-glass: light-dark(
      rgba(255, 255, 255, 0.7),
      rgba(28, 28, 30, 0.7)
    );
    --color-border-glass: light-dark(
      rgba(0, 0, 0, 0.05),
      rgba(255, 255, 255, 0.1)
    );
  }
}
